---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ページが見つかりません | jnicrimi.com">
  <h1 class="text-2xl font-bold">404 Not Found</h1>
  <p>お探しのページは見つかりませんでした。</p>
  <a
    href="/"
    class="text-neutral-500 underline transition-colors hover:text-neutral-900"
  >
    トップページへ戻る
  </a>
</Layout>
